/* src/App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('./assets/back.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
