/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background-gradient: linear-gradient(180deg, #f8f9fa 0%, #e9ecef 100%);
  --card-background: #ffffff;
  --font-color: #212529;
  --font-color-light: #6c757d;
  --primary-color: #007bff;
  --shadow-color: rgba(0, 0, 0, 0.08);
  --font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  /* background-image: var(--background-gradient);*/
  /* background-repeat: no-repeat;*/
  /* min-height: 100vh; */
  color: var(--font-color);
}

* {
  box-sizing: border-box;
}
